<div class="form-data">
    <form action="/users/${user._id/update?_method=PUT}" method="POST">
        <label for="txtFirstName"> First Name</label>
        <input type="text" name="firstName" id="txtFirstName" autofocus required value="<%= user.name.first%>">
        <label for="txtLastName">Last Name</label>
        <input type="text" name="lastName" id="txtLastName" required value="<%= user.name.last%>">>
        <label for="txtEmail">Email Address</label>
        <input type="email" name="email" id="txtEmail" required value="<%= user.email%>">>
        <label for="txtZipCode">Zip Code</label>
        <input type="number" name="zipCode" id="txtZipCode" required value="<%= user.zipCode%>">>
        <label for="txtPassword">Password</label>
        <input type="password" name="password" id="txtPassword" required value="<%= user.password%>">>
        <label for="txtCourses">Courses</label>
        <input type="text" name="courses" id="txtCourses" required value="<%= user.courses%>">>
        <label for="txtAccount">Account</label>
        <input type="text" name="lastName" id="txtLastName" required value="<%= user.subscribedAccount%>">>
        <button type="submit">Save</button>
    </form>
</div>